.poke-card{
  background: #eee;
  border: 1px solid black;
  padding: 15px;
  margin: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.img-pokedex{
  width: 100%;
}